.dashboardArrayDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    border-radius: 8px;
    width: 250px;
    height: 150px;
}

.dashboardArrayDiv h2 {
    font-family: monospace;
}

.dashboardArrayDiv h1 {
    font-family: fantasy;
}

.mainDiv {
    display: flex;
    gap: 35px;
    flex-wrap: wrap;
    justify-content: center;
}