/* *:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */
* {
    /* font-family: monospace; */
}

.bg-purple {
    background-color: palevioletred;
}

tr th {
    font-size: 20px;
}

tr td {
    font-size: 17px;
    font-weight: 600;
    color: #787373 !important;
    color: #918b8b;
    ;
}

.input-div {
    width: 450px !important;
    margin: auto !important;
    padding: 10px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.output-div {
    padding: 10px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-label {
    font-size: 22px;
    font-weight: 400;
    font-family: monospace;
}

.profile-div {
    margin-top: 30px;
    background: antiquewhite;
    padding: 40px;
}

.profile-div h4 {
    font-family: monospace;

}

.closeSideBar {
    float: right;
    font-size: 35px;
    cursor: pointer;
}

.login-label+input {
    padding: 5px 30px 5px 3px;
}

@media screen and (max-width: 1250px) {
    .category-div {
        flex-direction: column;
        gap: 20px;
    }

}

.none {
    display: none;
}

.block {
    display: block;
}

#btn {
    height: 36px;
    width: 148px;
}